<div class="container">
	<div class="jumbotron">
		<h1 class="display-4">Mazda</h1>
		Logo:<img src={{logo}}>
		<p class="lead">País de origen: {{pais}} </p>
		<p class="lead">Sector de ventas: {{sectorVentas}}</p>
		<p class="lead">Esta empresa inicia operaciones en: {{anioFundacion}}</p>
		<hr class="my-4">
	



	</div>
</div>